.gameboard{
    width: 90%;
    margin: 0 auto;
}

.top-wrapper{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-wrapper button{
    padding: 10px;
    border:0;
    border-radius: 10px;
    background: var(--clr-light-text);
    cursor: pointer;
}

.show-turn{
    width: 50%;
    margin:0 auto;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--clr-secondary-bg);
    color: var(--clr-light-text);
    text-align: center;
    font-size: 1.5rem;
}

.game-grid{
    margin-top:20px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:1rem;
}


.results-grid{
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    
}
.result{
    padding: 10px;
    border-radius: 10px;
    color: var(--clr-light-text);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    background-color: var(--clr-secondary-bg);
}

.x-wins{
    background-color: var(--clr-x);
}

.y-wins{
    background-color: var(--clr-o);
}

.ties{
    background-color: var(--clr-light-text);
    color:black;
}

