.square{
    width: 100%;
    margin: 0 auto;
    aspect-ratio: 1;
    background: var(--clr-secondary-bg);
    color: var(--clr-light-text);
    border-radius: 10px;
    box-shadow: 0 0 0 1px  hsla(185 18% 88% / 0.1);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    cursor:pointer;
}

img{
    width: 100%;
    height: 100%;
}